.devcontainer
.git
.github
.idea
.vscode
internal
tools
.dockerignore
.editorconfig
.gitignore
.go-version
.golangci.yaml
.goreleaser.yaml
.markdownlint.yaml
.pre-commit-config.yaml
**.md
Dockerfile
go.*
*.go
Makefile
